@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

body {
    text-align: center;
    height: 100vw;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    background: repeating-linear-gradient(
            206deg,
            hsla(250, 67%, 49%, 0.4) 0px,
            hsla(250, 67%, 49%, 0.4) 62px,
            hsla(295, 67%, 49%, 0.4) 62px,
            hsla(295, 67%, 49%, 0.4) 124px,
            hsla(340, 67%, 49%, 0.4) 124px,
            hsla(340, 67%, 49%, 0.4) 186px,
            hsla(25, 67%, 49%, 0.4) 186px,
            hsla(25, 67%, 49%, 0.4) 248px,
            hsla(70, 67%, 49%, 0.4) 248px,
            hsla(70, 67%, 49%, 0.4) 310px,
            hsla(115, 67%, 49%, 0.4) 310px,
            hsla(115, 67%, 49%, 0.4) 372px,
            hsla(160, 67%, 49%, 0.4) 372px,
            hsla(160, 67%, 49%, 0.4) 434px,
            hsla(205, 67%, 49%, 0.4) 434px,
            hsla(205, 67%, 49%, 0.4) 496px
        ),
        repeating-linear-gradient(
            285deg,
            hsla(97, 85%, 81%, 0.56) 0px,
            hsla(97, 85%, 81%, 0.56) 80px,
            hsla(148.42, 85%, 81%, 0.56) 80px,
            hsla(148.42, 85%, 81%, 0.56) 160px,
            hsla(199.85, 85%, 81%, 0.56) 160px,
            hsla(199.85, 85%, 81%, 0.56) 240px,
            hsla(251.28, 85%, 81%, 0.56) 240px,
            hsla(251.28, 85%, 81%, 0.56) 320px,
            hsla(302.71, 85%, 81%, 0.56) 320px,
            hsla(302.71, 85%, 81%, 0.56) 400px,
            hsla(354.14, 85%, 81%, 0.56) 400px,
            hsla(354.14, 85%, 81%, 0.56) 480px,
            hsla(45.57, 85%, 81%, 0.56) 480px,
            hsla(45.57, 85%, 81%, 0.56) 560px
        ),
        repeating-linear-gradient(
            45deg,
            hsl(204, 0%, 59%),
            hsl(131, 0%, 78%),
            hsl(79, 0%, 32%) 165px
        );
}
h1,
h2,
button,
.name {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
}
h1,
h2 {
    margin-top: 10%;
}

h4 {
    color: red;
    background-color: white;
}
input {
    font-size: 20px;
    border-style: none;
    padding: 8px;
    font-family: inherit;
    cursor: pointer;
}
input:active {
}

.answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.q {
    flex-basis: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    width: 250px;
    cursor: pointer;
}
.q:hover {
    cursor: pointer;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
td,
th {
    font-size: 28px;
    padding: 12px;
}
button {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    border: 0px solid black;
    border-radius: 5%;
    padding: 12px;
    background: white;
}
.correct {
    transition: 0.5s;
    background-color: #22bb45;
    flex-basis: 65px;
}
.wrong {
    transition: 0.5s;
    background-color: tomato;
    flex-basis: 65px;
}
